<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CIPlugInFilterList</key>
	<dict>
		<key>ColorDistance</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryStylize</string>
					<string>CICategoryColorEffect</string>
					<string>CICategoryVideo</string>
					<string>CICategoryStillImage</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>ColorDistance</string>
				<key>CIInputs</key>
				<array>
					<dict>
						<key>CIAttributeName</key>
						<string>inputImage</string>
						<key>CIAttributeDisplayName</key>
						<string>inputImage</string>
						<key>CIAttributeClass</key>
						<string>CIImage</string>
					</dict>
					<dict>
						<key>CIAttributeName</key>
						<string>color</string>
						<key>CIAttributeDisplayName</key>
						<string>color</string>
						<key>CIAttributeClass</key>
						<string>CIColor</string>
					</dict>
					<dict>
						<key>CIAttributeName</key>
						<string>chromaTolerance</string>
						<key>CIAttributeDisplayName</key>
						<string>chromaTolerance</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.2</real>
						<key>CIAttributeMin</key>
						<real>0</real>
						<key>CIAttributeMax</key>
						<real>1</real>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
						<key>CIAttributeSliderMax</key>
						<real>1</real>
					</dict>
					<dict>
						<key>CIAttributeName</key>
						<string>falloff</string>
						<key>CIAttributeDisplayName</key>
						<string>falloff</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>1e-06</real>
						<key>CIAttributeMin</key>
						<real>1e-06</real>
						<key>CIAttributeMax</key>
						<real>1</real>
						<key>CIAttributeIdentity</key>
						<real>1</real>
						<key>CIAttributeSliderMin</key>
						<real>1e-06</real>
						<key>CIAttributeSliderMax</key>
						<real>1</real>
					</dict>
				</array>
				<key>CIAttributeDescription</key>
				<string>ColorDistanceDescription</string>
			</dict>
			<key>CIHasCustomInterface</key>
			<false/>
			<key>CIFilterClass</key>
			<string>ColorDistance</string>
			<key>CIKernelFile</key>
			<string>ColorDistance</string>
		</dict>
		<key>PerceptualDistance</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryStylize</string>
					<string>CICategoryColorEffect</string>
					<string>CICategoryVideo</string>
					<string>CICategoryStillImage</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>PerceptualDistance</string>
				<key>CIInputs</key>
				<array>
					<dict>
						<key>CIAttributeName</key>
						<string>inputImage</string>
						<key>CIAttributeDisplayName</key>
						<string>inputImage</string>
						<key>CIAttributeClass</key>
						<string>CIImage</string>
					</dict>
					<dict>
						<key>CIAttributeName</key>
						<string>color</string>
						<key>CIAttributeDisplayName</key>
						<string>color</string>
						<key>CIAttributeClass</key>
						<string>CIColor</string>
					</dict>
					<dict>
						<key>CIAttributeName</key>
						<string>chromaTolerance</string>
						<key>CIAttributeDisplayName</key>
						<string>chromaTolerance</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.2</real>
						<key>CIAttributeMin</key>
						<real>0</real>
						<key>CIAttributeMax</key>
						<real>1</real>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
						<key>CIAttributeSliderMax</key>
						<real>1</real>
					</dict>
					<dict>
						<key>CIAttributeName</key>
						<string>luminanceTolerance</string>
						<key>CIAttributeDisplayName</key>
						<string>luminanceTolerance</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.2</real>
						<key>CIAttributeMin</key>
						<real>0</real>
						<key>CIAttributeMax</key>
						<real>1</real>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
						<key>CIAttributeSliderMax</key>
						<real>1</real>
					</dict>
					<dict>
						<key>CIAttributeName</key>
						<string>falloff</string>
						<key>CIAttributeDisplayName</key>
						<string>falloff</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>1e-06</real>
						<key>CIAttributeMin</key>
						<real>1e-06</real>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeIdentity</key>
						<real>1</real>
						<key>CIAttributeSliderMin</key>
						<real>1e-06</real>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>CIAttributeDescription</key>
				<string>PerceptualDistanceDescription</string>
			</dict>
			<key>CIHasCustomInterface</key>
			<false/>
			<key>CIFilterClass</key>
			<string>PerceptualDistance</string>
			<key>CIKernelFile</key>
			<string>PerceptualDistance</string>
		</dict>
		<key>LuminanceDistance</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIInputs</key>
				<array>
					<dict>
						<key>CIAttributeName</key>
						<string>inputImage</string>
						<key>CIAttributeDisplayName</key>
						<string>inputImage</string>
						<key>CIAttributeClass</key>
						<string>CIImage</string>
					</dict>
					<dict>
						<key>CIAttributeName</key>
						<string>blackPoint</string>
						<key>CIAttributeDisplayName</key>
						<string>blackPoint</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.2</real>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<real>1</real>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
						<key>CIAttributeSliderMax</key>
						<real>1</real>
					</dict>
					<dict>
						<key>CIAttributeName</key>
						<string>falloff</string>
						<key>CIAttributeDisplayName</key>
						<string>falloff</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>1e-06</real>
						<key>CIAttributeMin</key>
						<real>1e-06</real>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeIdentity</key>
						<real>1</real>
						<key>CIAttributeSliderMin</key>
						<real>1e-06</real>
						<key>CIAttributeSliderMax</key>
						<real>1</real>
					</dict>
				</array>
				<key>CIAttributeDescription</key>
				<string>LuminanceDistanceDescription</string>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryStylize</string>
					<string>CICategoryColorEffect</string>
					<string>CICategoryVideo</string>
					<string>CICategoryStillImage</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>LuminanceDistance</string>
			</dict>
			<key>CIHasCustomInterface</key>
			<false/>
			<key>CIFilterClass</key>
			<string>LuminanceDistance</string>
			<key>CIKernelFile</key>
			<string>LuminanceDistance</string>
		</dict>
	</dict>
	<key>CIPlugInVersion</key>
	<integer>1</integer>
</dict>
</plist>
